var formatTime = function (date) {
  if (!date) {
    return ''
  }
  var stamp = (getDate().getTime() - getDate(date).getTime()) / 1000
  if (stamp < 60) {
    return "刚刚"
  } else if (stamp >= 60 && stamp < 3600) {
    return "" + parseInt(stamp / 60) + "分钟前"
  } else if (stamp >= 3600 && stamp < 3600 * 24) {
    return "" + parseInt(stamp / 3600) + "小时前"
  } else if (stamp >= 3600 * 24 && stamp < 3600 * 24 * 30) {
    return "" + parseInt(stamp / 3600 / 24) + "天前"
  } else if (stamp >= 3600 * 24 * 30 && stamp < 3600 * 24 * 365) {
    return "" + parseInt(stamp / 3600 / 24 / 30) + "个月前"
  } else if (stamp >= 3600 * 24 * 365) {
    return "" + parseInt(stamp / 3600 / 24 / 365) + "年前"
  }
}

var timeStampToDate = function (timestamp) {
  var time = getDate(timestamp);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  var date = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  month = month < 10 ? "0" + month : month;
  date = date < 10 ? "0" + date : date;
  hour = hour < 10 ? "0" + hour : hour;
  minute = minute < 10 ? "0" + minute : minute;
  second = second < 10 ? "0" + second : second;
  return year + "-" + month + "-" + date;
}

var getChinese = function (str) {
  // var reg1 = getRegExp("\n+", "g");
  // str.replace(reg1, "")
  var reg2 = getRegExp('[\u4E00-\u9FA5]+', 'gi');
  return reg2.exec(str)
}

module.exports = {
  formatTime: formatTime,
  timeStampToDate: timeStampToDate,
  getChinese: getChinese
}